security:
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        auth:
            pattern: ^/auth
            stateless: true

        main:
            pattern: ^/
            stateless: true
            jwt: ~

    access_control:
        - { path: ^/auth, roles: PUBLIC_ACCESS }
        - { path: ^/profile, roles: IS_AUTHENTICATED_FULLY }
